@{
    ViewData["Title"] = "Home Page";
}
<img src="~/Images/promo.jpg" class="w-100" alt=""/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>