@model MotoStore.ViewModels.Layout.LayoutViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="text-center my-5">
        <h2>Регистрация</h2>
    </div>
    @await Html.PartialAsync("PartialViews/Account/RegisterPartialView", Model)
</div>
@section Scripts
{

        @await Html.PartialAsync("_ValidationScriptsPartial");
    
}
