@model AccountViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Register" asp-controller="Account" method="post" asp-antiforgery="true" class="row g-3">
    @await Html.PartialAsync("PartialViews/Account/RegisterPartialView", Model)
    <button class="btn btn-warning" type="submit">Отправить</button>
</form>